<?xml version="1.0"?>
<launch>
	<!-- Dual gripper launcher -->
	<node ns="left_wsg" name="wsg_50_driver"  pkg="wsg_50_driver" type="wsg_50_ip">
		<param name="ip" type="string" value="10.0.0.20"/>
		<param name="port" type="int" value="1000"/>
	</node>

	<!-- Action servers for both grippers -->
	<include file="$(find rviz_test)/launch/gripper_action_server_left.launch"></include>
</launch>

